extends layout

block content
  h1= title
  p Welcome to #{title}

  input(
  	type ='button'
  	id ='loadTracks'
  	class ='button big'
  	value = 'Get hottest track'
  	)
  h2 Track List
  #track

  h3 Result
  ul#results