extends layout

block content
  h1= title
  p Welcome to #{title}
  p #{result}
  
  // Wrapper
  #wrapper

    // Log In INFO
    #logInInfo
      h2 Log In Info
      p
        strong UserName: #{username}
          <span id='userInfoName'></span>
        br
        h2 Track List
        #tracklist
    // /Log In INFO
    input(
  type ='button'
  id ='loadTracks'
  class ='button big'
  value = 'Get hottest track'
  )
    input(
  type ='button'
  id ='hiphop'
  class ='button big'
  value = 'Hip-Hop Music'
  )

    input(
  type ='button'
  id ='country'
  class ='button big'
  value = 'Country Music'
  )

    input(
  type ='button'
  id ='pop'
  class ='button big'
  value = 'Pop Music'
  )

    input(
  type ='button'
  id ='electronic'
  class ='button big'
  value = 'Electronic'
  )

    // Music List  
    h2 Music Information List
    #musicList
      table
        thead
          th Name of the Song
          th Dislike
          th Comment
          th Comment
        tbody
    // / Music List

    // Comment List
    h2 Music Comment
    #commentList
    // /Comment List

    // ADD USER
    h2 Add Comment
    #addComment
      fieldset
        input#musicID(type='text', placeholder='Music ID')
        input#inputComment(type='text',placeholder='Comment')
        br
        button#btnAddComment Add Comment
    // /ADD USER
  // /Wrapper


