body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:730px;
	position:relative;
}

#musicList {
	margin:0 0 30px 0;
}
	#musicList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#musicList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#musicList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#musicList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#logInInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#logInInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

#tracklist {
	width:500x;
}
	#tracklist li {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
		width: 650px;
	}

	#tracklist div {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
		width: 650px;
	}

